[2019-05-13 06:38] Aesculapius opened #1 "USB instead of serial?"
Not sure if this is the right place, but would a connection to the USB port also work? I'm using that to connecct to one specific workstation and would idealy split that use to also connect it to a rpi so homeassistant can use the PIRs... Do you have a tutorial somewhere on how you built it hardware wise?

[2019-05-13 10:11] plaksnor commented on #1
These scripts are currently intended to be used with a connection to the USB port. What would you like to build hardware wise? You could just connect your rpi with a printer-USB cable to the alarm system.

[2019-05-13 12:25] mattsaxon commented on #1
For the Jablotron 80, there are 3 options for the cables that I'm aware of.

1. Jablotron JA-80T - this is a USB to serial cable that emulates a COM port
2. Jablotron JA-82T - this is a USB to serial cable that is a HID compliant device
3. Build you own

I would have expected any to work, but it should be noted that I'm using option 1 and I don't have specific evidence that other means work yet, i

[2019-06-02 12:33] lambertvenema opened #4 "Sending service code?"
Hi

Thanks for your initiative for this project.
I have a JA80T cable and tried to connect my cable to the PI after installing your components.
After restarting Home assistant it imediatly activated my alarm ( Sirene).

In the logs i see:

2019-06-02 13:33:11 WARNING (MainThread) [homeassistant.loader] You are using a custom integration for jablotron which has not been tested by Home Assistant. Th

[2019-06-02 19:58] mattsaxon commented on #4
This is the first time I've had info on the JA-80T. I had assumed it would work, but it's clearly not for you.

I can help you try to diagnose the situation if you are game?

Can you first tell me what control panel model you have, for example I have a JA-82K.

Can you also paste here you configuration that you have added to configuration.yaml

[2019-06-02 20:36] mattsaxon commented on #4
One thing to mention is that, depending on your experience level, you may find reviewing this thread useful. https://community.home-assistant.io/t/jablotron-ja-80-series-and-ja-100-series-alarm-integration/

On it you can see various people with different configurations trying to get this to work. I note that recently there is someone with a JA-80 system who also has this working (thoky), its not

[2019-06-05 13:08] lambertvenema commented on #4
Hi Matt,

Thanks for your fast respons.
I guess i also have the JA 82K allthough i can not find that number .
At least my control box looks the same and has the same size.

my config is:

alarm_control_panel:
  - platform: jablotron
    serial_port:
/dev/serial/by-id/usb-Silicon_Labs_JABLOTRON_serial_interface_1-if00-port0

I didnt define a "code" yet as i didnt know which code to use ( service
co

[2019-06-05 18:40] mattsaxon commented on #4
Can I suggest you contact 'thoky' on this thread https://community.home-assistant.io/t/jablotron-ja-80-series-and-ja-100-series-alarm-integration/113315/85. They are using the same type cable as you. Whilst the /dev/ path you are using might be the 'right' device, it may not the the right way to address it, I'd expected to address it using something more like /dev/ttyUSB0

[2019-06-05 19:42] lambertvenema commented on #4
Hi Matt,

Thanks for your respons.
Sure, I will check with Thoky  after my vacation. In the mean time new
info  might be available also.
The reason we use this address to link to the device is that we are not
sure the other address (like /dev/ttyUSB0 or 1) will never change.

regards, Lambert

On Wed, Jun 5, 2019 at 8:40 PM mattsaxon <notifications@github.com> wrote:

[2019-06-05 19:49] plaksnor commented on #4
@lambertvenema Could you test it with /dev/ttyUSB0 or 1, even if you're not sure if this device will be available with this address in the future?

If you still want to test it with your customized address (of which I even didn't know or expect this should/could work), could you try a couple of things in order to be sure you're even seeing data?

1. if you type `lsusb`, do you see a USB device?
Ex

[2019-06-28 11:30] Thoky81 opened #5 "Alarm code"
Is there a possibility to skip (exclude) the (alarm) code line in configuration or something in order to always use the keypad on alarm control panel in HA? Right now I am arming/arming home/disarming without the code entered in HA alarm card - just the buttons.

[2019-06-28 11:39] Thoky81 opened #6 "MQTT remote control"
Is there a chance to send states and control the alarm with MQTT Alarm Control Panel ? I have tried the "usb ip" in order to connect the alarm to HA in VM but I didn't success. Therefore the mqtt can be a better and easy solution.

[2019-06-30 09:06] mattsaxon commented on #6
How are you suggesting that would that work? Would you have another device such as another Rpi connected via serial and use MQTT to communicate between the HA instance and the other device?

[2019-06-30 09:08] mattsaxon commented on #5
So you want to enter the code for both setting and unsetting? Does you physical alarm panel also require this or do you want the HA alarm panel to have different behaviour?

[2019-07-08 08:35] Thoky81 commented on #5
Yes I would like to have this option to enter the code. My physical alarm also require this if using the keypad but not with the remotes.

[2019-07-08 08:40] Thoky81 commented on #6
Yes with another Rpi which is close to alarm and therefore can be connected with usb cable. But if you have a suggestion how to connect the Rpi with Ubuntu in VM with USBIP or socat it would be helpful.

[2019-07-08 12:02] mattsaxon commented on #1
Closed as answered. Yes this code supports USB.

[2019-07-08 12:02] #1 closed

[2019-07-08 12:05] mattsaxon commented on #6
In terms of an MQTT solution, can  I suggest you look at this component https://www.home-assistant.io/components/mqtt_eventstream/

I haven't tried it, but it would appear to allow multiple HA instances to synchronise their state.

Therefore I think for your use case, you would run HA on both Rpi instances, and publish/subscribe to the Jablotron events on both instances.

[2019-07-21 19:50] Thoky81 opened #7 "arm night missing in HA alarm card"
Hi,
I have a question about the alarm arming button. Right now I have in HA only ARM HOME and ARM AWAY. I am also exposing the alarm in Homekit from HA and there I can see also the ARM NIGHT option. All three ARMING states lock my alarm differently and how they should - btw it so far works flawlessly so big thanks to you 😀 But I would like to ask you how can I add the ARM NIGHT in HA alarm control

[2019-07-22 09:45] mattsaxon commented on #7
The HA alarm panel doesn't directly support ARM NIGHT, so I have the following script to achieve this

[code]

I then have this in the same group as the 'real' control panel so it appears in the UI together.

[2019-07-23 13:47] mattsaxon commented on #5
Added in this [commit](https://github.com/mattsaxon/HASS-Jablotron80/commit/386814b3f143ca8c5405035ee514fb3acded9120)

[2019-07-23 20:38] Thoky81 commented on #7
Hi, I have figure out how to add the ARM NIGHT in HA Alarm Card. When you click on + button to add new card then choose the alarm card - as usual 😀. Then, before you save the card, you can click on available states on the left and choose to add the ARM NIGHT too. I have tested my and works like a charm 😀 therefore no script is needed.

[2019-07-23 20:49] mattsaxon commented on #7
I’m suspecting you are using a customised Lovelace UI. I’m using the automatic Lovelace generated from configuration.yaml, so I don’t think your suggestion will work for me.

Then again, it might be the prompt I need to migrate my UI!

[2019-07-23 22:14] Thoky81 opened #8 "USB over IP"
For those who are struggling with setup sharing the USB over the ethernet like I was 😀, please follow this link: https://derushadigital.com/other%20projects/2019/02/19/RPi-USBIP-ZWave.html
I can confirm the Jablotron Alarm its working between RPi as a server and Ubuntu in VM as a client with installed Hassio on docker.
At the the end in client side just use ..

$ dmesg | grep usb
$ dmesg | grep hi

[2019-07-24 14:53] Thoky81 commented on #7
Hm, when I restart the HA my alarm card is back without the ARM NIGHT button. Any ideas?

[2019-07-24 15:09] mattsaxon commented on #7
Sorry, no idea, but this seems to be a standard HA issue, so suggest you make a post there to see what they can advise.

Can I confirm, have you got a Lovelace.yaml file?

[2019-07-24 17:26] Thoky81 commented on #7
OK I try to post it somewhere in HA forum.

I dont have Lovelace.yaml - I just use gui. Why?

[2019-07-24 17:37] mattsaxon commented on #7
OK, I've moved over the configuration via the UI as you are using. It works as you describe, but also sticks over a restart of HA.

It has created a file here <config_directory>/.storage/lovelace

It contains the following (amongst many other things)

[code]

Note I did this by editing the existing card, not creating a new one.

[2019-07-24 18:20] Thoky81 commented on #7
guess what. I deleted the card and made a new including the arm night and after the restart no change 😀 Looks like success. I did couple of more restarts and arm night is still there. Try it.

[2019-07-25 17:48] Thoky81 opened #9 "Unknown status packet"
I am getting lots of these errors: **Unknown status packet is b'\x82\x02=\xff\x00\x00\x00\x00'** Always with different numbers. Do you have any idea?

[2019-07-25 17:49] Thoky81 commented on #9
Unknown status packet is b'\x82\x02=\xff\x00\x00\x00\x00'
7:43 PM custom_components/jablotron/alarm_control_panel.py (WARNING) - message first occured at 8:21 AM and shows up 7255 times

[2019-07-25 19:53] mattsaxon commented on #9
That won't have an impact on performance, I've just been trying to remove all the unknown packets.

Latest version has this specific one fixed, so please use that.

However it does mean that you now have a version that support entering of the code, issue #5, does that work as you'd expect?

[2019-07-25 20:37] Thoky81 commented on #9
Thanks for reply. I have uploaded your last code but still getting the errors. Sorry but didn’t have time to check the codes issue #5 😀 with your new version. But I will do soon. I have also updated the your code today afternoon but still getting the same errors.
Unknown status packet is b'\x82\x01=\x00\x00\x00\x00\x00

[2019-07-25 20:39] Thoky81 commented on #9
Sure no performance issues but it’s annoying 😀

[2019-07-26 10:24] mattsaxon commented on #9
are you sure you got the latest code?

I made the commit which solved this particular one just yesterday, here the commit https://github.com/mattsaxon/HASS-Jablotron80/commit/af2371aea24fc3ecbac125c61d83bd7522c22801

I've made one further since then too, which removes another error.

[2019-07-26 22:20] Thoky81 commented on #9
I have uploaded your lates files today afternoon, but still seen this:

Unknown status packet is b'\x82\x01)\x00\x00\x00\x00\x00'
Unknown status packet is b'\x82\x01I\x00\x00\x00\x00\x00'
Unknown status packet is b'\x82\x01>\x00\x00\x00\x00\x00'
Unknown status packet is b'\x82\x01\r\x00\x00\x00\x00\x00'

[2019-07-27 10:56] mattsaxon commented on #9
Fixed latest set of unknowns. Please try latest code.

[2019-07-30 19:02] Thoky81 commented on #9
Sorry for posting on closed issue but I am still getting the same logs:
Unknown status packet is b'\x82\x01\x04\x00\x00\x00\x00\x00

I have uploaded your lates files so I don’t know where is the problem.

Thanks

[2019-07-30 19:11] mattsaxon commented on #9
No worries, we will fix these issues 1 by 1

[2019-07-31 08:20] mattsaxon commented on #9
Updated with latest code to fix. Please reopen with additional errors.

[2019-07-31 08:20] #9 closed

[2019-08-09 12:38] Thoky81 commented on #6
Have you seen the plaksnor MQTT support ? Do you think we can have it too in JA -80?
Thanks

[2019-08-09 15:23] mattsaxon commented on #6
It's certainly technically feasible, I just don't have anytime to do it.

Though, has anyone tried my suggestion of using the build in MQTT replication rather than coding it into the component

[2019-08-10 14:39] mattsaxon commented on #6
I've looked at @plaksnor 's changes and they should be fairly easy to incorporate. However I don't have a suitable setup to test it on. @Thoky81 would you be able to help me unit test (there may be lots of issues due to my lack of suitable set-up). If so I'll see when I can do a merge? Alternatively, happy for you to merge the code and test, then send to this repo as a PR

[2019-08-10 18:44] Thoky81 commented on #9
I am still getting another one:
Unknown status packet is b'\x82\x01I\x00\x00\x00\x00\x00'

[2019-08-11 15:00] mattsaxon commented on #9
Fixed in last commit

[2019-08-11 15:01] mattsaxon commented on #7
Yep agreed this works for me too, thanks.

[2019-08-11 15:01] #7 closed

[2019-08-11 15:02] mattsaxon commented on #4
No response for 2 months on this thread so closing

[2019-08-11 15:02] #4 closed

[2019-08-11 15:46] mattsaxon commented on #8
Updated readme with information on USB to IP.

[2019-08-11 15:46] #8 closed

[2019-08-11 15:49] mattsaxon commented on #5
@Thoky81 have you been able to test to verify this works as expected?

[2019-08-11 21:22] Thoky81 commented on #5
Yes, its working. Thanks for great job.

[2019-08-12 06:09] #5 closed

[2019-08-18 20:27] Thoky81 opened #10 "input irq status"
I tried to move the HA to Intel NUC with Proxmox. HA is running in Ubuntu docker.
When I restart Ubuntu and HA starts loading I am getting these errors. The Jablotron alarm is not connecting in HA. Any idea ? I have search the web but could not find proper answer.

[   73.684771] usb 3-1: input irq status -75 received
[   73.701027] usb 3-1: input irq status -75 received
[   73.717277] usb 3-1: in

[2019-08-19 07:34] mattsaxon commented on #10
Sorry, no idea, what prompted the change? New firmware, new HA release for example?

[2019-08-19 08:39] Thoky81 commented on #10
Well I just tried to move to Intel NUC with Proxmox and this happened. The strange thing is that when I disable the Jablotron in HA this input irq status error don’t appear.

[2019-12-13 22:44] Thoky81 opened #11 "0.103.0 update"
I dont know if is only me but I dont see the alarm in HA after 0.103.0 update.
This is my HA log:

Error while setting up platform jablotron
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 150, in _async_setup_platform
    await asyncio.wait_for(asyncio.shield(task), SLOW_SETUP_MAX_WAIT)
  File "/usr/local/lib/python3.7/asyncio/task

[2019-12-14 13:25] hsk-dk commented on #11
this isue is also seen on https://github.com/plaksnor/HASS-JablotronSystem, a fix will probally work for both

[2019-12-14 15:05] mattsaxon commented on #11
I haven’t upgraded to 103 yet, so can’t confirm

[2019-12-14 16:32] mattsaxon commented on #11
Here’s a related issue https://github.com/home-assistant/home-assistant/issues/29852

[2019-12-15 15:55] Thoky81 commented on #11
Thanks, and you are not planing to upgrade HA to see if you can fix it?

[2019-12-15 16:29] mattsaxon commented on #11
Fixed in latest version (this commit https://github.com/mattsaxon/HASS-Jablotron80/commit/ff52ddbe2f42eb4ecb8cfdb7f657f03f2680bc38)

[2019-12-15 16:29] #11 closed

[2019-12-15 19:44] Thoky81 commented on #11
Excellent 👍 Thanks a lot

[2020-01-03 11:33] JWTeunisse opened #12 "questions about the installation"
Searching the internet about a ZWave meter-report I stumbled on your HASS-Jablotron80 interface. As I myself have a J80 alarm system installed, I'm curious if your interface also supports the sensor readings like the magnetic door/window and PIR sensors?
- Is the interface cable connected to the central JA-63 'profi' unit or to the control panel itself.
- The central unit has a RJ11plug: can I use

[2020-01-03 12:44] mattsaxon commented on #12
Yes... but it's not a JA-60 unit, this works on JA-80 series only, there is also a JA-100 series fork.

Sensors are not supported in this code, only alarm state (reading and changing). There is much debate on if this works in the JA-100 series fork. In my testing it only worked on JA-80 when in maintenance/service mode, which wasn't a pragmatic solution, so I never added the sensor code.

This is

[2020-01-03 12:44] #12 closed

[2020-01-27 13:23] yuripace opened #13 "Unable to activate alarm"
Hi,
i get this error in the homeassistant log.
`2020-01-27 14:20:21 WARNING (ThreadPoolExecutor-0_0) [custom_components.jablotron.alarm_control_panel] Unknown status packet is b'\x82\x01!\x00\x00\x00\x00\x00'
2020-01-27 14:20:22 WARNING (ThreadPoolExecutor-0_0) [custom_components.jablotron.alarm_control_panel] Unknown status packet is b'\x82\x01!\x00\x00\x00\x00\x00'
2020-01-27 14:20:23 WARNING (M

[2020-01-27 20:42] mattsaxon commented on #13
I don’t know what these status messages are as per the warning.

I suspect the alarm has got into some unknown state, hence the warning and why you can’t set it.

I’d suggest resetting the alarm somehow. Eg powering off. Depending on if you have a backup battery this may work.

However I’m no expert on the actual alarm system so I’d proceed with caution

[2020-03-21 18:51] filip-van-hoeckel commented on #9
Having heaps of those as well. How to solve?

[2020-03-22 10:34] mattsaxon commented on #9
Well the unknown status packets themselves are not much of an issue (apart from filling up the log). Looking at your issues on HA community, however, the issue is that you are not getting an ‘known’ status packets, hence your alarm status is unknown.

As a quick scan it looked like you were only getting one type of packet, which suggests either there is a problem with your setup or your alarm beha

[2020-03-29 18:48] filip-van-hoeckel commented on #9
JA-82K alarm with JA-82T cable. Looks to me like it's supported? Same cable and Jablotron 80 series central unit.

[2020-03-29 19:25] mattsaxon commented on #9
Can you put your alarm in a set of different states, set, unset and setting and ready the status message from the logs. Seems your setup has different codes in use for me and others.

Once you have the ‘unknown’ message for each state post it here.

[2020-03-29 19:42] mattsaxon commented on #9
So for example you logs has things like Unknown status packet is b'\x82\x01`\x00\x00\x00\x00\x00'

This is likely to be different when you alarm is in different states, so if you can tell me the specific debug for each state I can fix this.

[2020-04-09 22:11] Thoky81 opened #14 "0.108.1 update"
Hi @mattsaxon ,

hope you are doing well these days.

I have recently updated the HA and getting the error in logs with result that the alarm panel is not working. Any idea ?

Log Details (ERROR)
Logger: custom_components.jablotron.alarm_control_panel
Source: custom_components/jablotron/alarm_control_panel.py:158
First occurred: 12:05:41 AM (2 occurrences)
Last logged: 12:05:41 AM

The data stream

[2020-04-09 22:20] mattsaxon commented on #14
Hi. Im good thanks. Hope you are too.

I haven’t upgraded to 108 yet and on 107.7 where it still works.

What was the last version you were on before upgrade?

I’ll take a look a the release notes and see if there is anything that looks like it may cause this change, but from the log, it looks like the data has changed Coming from the usb serial port, which seems very strange!

[2020-04-10 08:54] mattsaxon commented on #14
I just upgraded to 108.2 and the alarm functionality is working fine for me. So
Looks like it is something in your local setup. I’d suggest to check if the serial ports have mapped to the same USB devices as a first step

[2020-04-10 19:05] Thoky81 commented on #14
Hi, I am sorry but it was like you suggested - the serial port. Thanks
Yeah and btw thanks for asking, I am so far still good and healthy.

Take care

[2020-04-10 19:05] #14 closed

[2020-04-10 19:06] mattsaxon commented on #14
Good the hear on both counts

[2020-05-03 21:03] FraBoCH opened #15 "Trying to make it work on a JA-82K with a "simple" USB to TTL converted based on CP2102 chipset"
Hi,

I'm trying to make it work on a JA-82K control panel with a "simple" USB to TTL converter based on CP2102 chipset (https://www.play-zone.ch/en/usb-zu-ttl-serial-kable-debug-console-cable-cp2102.html) as JA-82T is very hard to find as it's end of life.

I'm on latest ha (0.109), running on hassOS 3.13 on a raspberry pi 3. Device is properly recognized and  mapped to /dev/ttyUSB0. I've configur

[2020-05-30 20:22] FraBoCH commented on #15
Nevermind, I managed to buy a JA-82T from Austria and it's working !

[2020-05-30 20:22] #15 closed

[2020-07-27 11:07] Eerk1975 opened #18 "when configuring -> Unknown status packet is b'\x82\x01`\x00\x00\x00\x00\x00'"
Setup:
Jablotron80
Raspberry
Docker installation of HASS
USB device is connected to the container.

Setup didn't work yet.
State of Jablotron Alarm in Home Assistant is unknown

home-assistant logging state:
2020-07-27 12:56:01 DEBUG (MainThread) [custom_components.jablotron.alarm_control_panel] Sending startup message
2020-07-27 12:56:02 DEBUG (MainThread) [custom_components.jablotron.alarm_contr

[2020-07-30 17:23] mattsaxon commented on #18
Looks like the software is working as expected. Not sure why the messages are not recognised. Its not unusual to get an unrecognised message, but you usual gets lots of messages and some are recognised, is there only a single unknown in the log.

What is your Jablotron model number?

[2020-08-03 18:01] Eerk1975 commented on #18
Sorry for the late response!

I get this error continuously.
The model is Jablotron JK-84-82Y

[2020-08-03 18:12] mattsaxon commented on #18
And there are no other similar errors in the log with a slightly different unknown code?

I assume the alarm is in unset mode when you get this error. Please try setting it and seeing what happens. You
Should either get a different Unknown’s message or the status should be returned correctly
In HA

[2020-08-30 19:37] Thoky81 opened #19 "Keypad disappears."
Hi @mattsaxon,

can you please update the docs with how to install it in HACS?
I am getting some errors: Repostitory structure for V1.0 is not compliant

Thanks

[2020-08-30 20:33] mattsaxon commented on #19
Sorry, I’m struggling with the same issue. I’ve never got it to install via HACS.

[2020-08-30 20:53] Thoky81 commented on #19
OK no problem.I have updated manually, but I am now missing the keypad in lovelace.. I have just the buttons. Any idea?

[2020-08-31 10:52] mattsaxon commented on #19
I've reverted the changes I just merged as it seems I didn't look hard enough and some additional changes have snuck into the verison I tested. @FraBoCH can you take a look at why this is occurring as I've had just taken the latest version and I have the same issue as Thoky81

[2020-08-31 11:38] FraBoCH commented on #19
OK I'll check.
If I'm not mistaking, it depends on the configuration parameters. The keypad only appears if you chose to enter the code every time you arm or disarm your alarm.
31 août 2020 12:52:30 mattsaxon <notifications@github.com>:

[2020-08-31 15:12] Thoky81 commented on #19
@FraBoCH Hi, yes I can confirm that if I chose to require the code to arm/disarm the keypad is there. Thanks

[2020-08-31 17:55] FraBoCH commented on #19
Thanks for the confirmation @Thoky81! So it's not a but @mattsaxon, it's a feature ;-)
I think you can safely restore my PR, unless you prefer to test it & fine tune it further. I'm open to suggestion.

[2020-08-31 18:21] mattsaxon commented on #19
I’ll check behaviour,  but my config was no code to lock, but required a code to unlock.

[2020-08-31 18:29] FraBoCH commented on #19
Ok. I'll check also on my side. The change I made on that matter was in commit dc2f3af2b3265ea985d5ad1cfe19f022bb7f656a
Basically, it only returns "None" (which makes the HA UI remove the keypad) if and only if both code_arm_required and code_disarm_required are set to false.

[2020-08-31 19:01] FraBoCH commented on #19
I can confirm setting code_disarm_required to True shows the keypad, if you have a "code" configured. If you don't configure any code however, the keypad is not shown.
This is due to the following code in code_format method present in your initial commit:
        if code is None:
            return None

If we should support a setup without any code, we can simply change this return and check if o

[2020-09-06 14:46] mattsaxon commented on #19
@FraBoCH actually, you are correct whilst the behaviour has changed, it is in fact correct... at least for me. However I can't accept the latest commits because when setting, the status does not show as arming. It still shows as unarmed whilst it is setting

[2020-09-06 18:24] FraBoCH commented on #19
@mattsaxon you're totally right about the arming state ! There is a very small bug at line 279 (should be self._state and not state). I've fixed it already on my fork (see commit https://github.com/FraBoCH/HASS-Jablotron80/commit/fc42f4a725c59f2652b32edcb80cb3c733238e4f), but don't really know what's the best way to share it with you now that the PR is merged and you reverted the commits afterward

[2020-09-12 13:23] mattsaxon commented on #19
@FraBoCH, I've removed my reversion, so you should be able to submit a standard PR now with that bug fix.

Thanks.

[2020-09-12 18:33] FraBoCH commented on #19
@mattsaxon OK perfect. I've just submitted the PR to fix that. Happy to contribute to your project !

[2020-09-12 18:39] FraBoCH opened #21 "Detect wireless siren power failure"
I would like to detect when the wireless siren losts power.
On the keypad, this triggers a warning, but I've failed so far to identify the corresponding packet in the data stream.
@mattsaxon do you have, by any chance, an idea on that matter ?

[2020-09-28 09:23] yuripace opened #22 "New feature: virtual keypad"
Hi,
its possibile to change the code keypad and made it a virtual keypad (with *, #, ABC, etc..) to control from HA all aspects of the oasis alarm?

[2020-09-28 09:23] yuripace commented on #13
Using last version solved the problem. Thanks.

[2020-09-28 09:23] #13 closed

[2020-10-03 18:29] FraBoCH commented on #19
@mattsaxon I think this issue should be closed.

[2020-10-03 18:34] FraBoCH commented on #18
Hi. The answer may come quite late, but this is a debug level message. At this log level, we log every packet looking like a state update but which we didn't figure the exact meaning yet.
I suggest you set your log level to info for normal operation. The debug level is mainly intended for developpers or when trying to figure an issue out.
I hope this helps.

[2020-10-03 18:40] FraBoCH opened #23 "Alarm is considered as triggered incorrectly in case of a sabotaged sensor"
Steps to reproduce:
- disarm alarm if it's armed
- "sabotage" a sensor (for instance by removing cover to change battery)
Observed result: alarm state is changed to "TRIGGERED"
Expected result: as alarm is not armed, it should remain in the UNARMED state

I'll fix that issue

[2020-10-03 19:33] yuripace opened #25 "Source alarm name not known yet"
I cannot get the sensor name.
Note that i can see in on the alarm display,even of the alarm Is not armed

Jablotron state change detected: disarmed to arming
Jablotron state change detected: arming to armed_away
Jablotron state change detected: armed_away to triggered
Alarm triggered but source not known yet
jablotron state change detected: armed_away to triggered
Alarm triggered but source not kn

[2020-10-03 19:50] FraBoCH commented on #25
Ok @yuripace, let's try to find out the difference between your alarm and mine. That may prove quite tricky, I warn you ;-)

First:
- what's your precise alarm model number ? I have a JA-82K like @mattsaxon.
- did you configure the sensor names in the configuration.yaml as shown in the readme ? Can you share this configuration ?

Then, the only way to try to figure out why it's not working for you

[2020-10-03 19:54] FraBoCH commented on #22
Hi @yuripace. I'm not sure it's possible as the keypad is actually rendered and managed by HomeAssistant. The jablotron component has not UI per se, it only implements the home assistant alarm interface.

[2020-10-03 19:55] FraBoCH commented on #23
@mattsaxon see linked PR which fixed this issue.

[2020-10-04 14:37] yuripace commented on #25
THis is my config

alarm_control_panel:
  - platform: jablotron
    serial_port: /dev/hidraw0
    code: 1234
    code_panel_arm_required: false
    code_panel_disarm_required: false
    code_arm_required: true
    code_disarm_required: true
    sensor_names:
      1: "Sensore 1"
      2: "Sensore 2"
      3: "Sensore 3"
      4: "Sensore 4"
      5: "Sensore 5"
      6: "Sensore 6"
      7: "Senso

[2020-10-08 11:31] Eerk1975 commented on #18
sorry it took a while :-)

I get this in the logging (I updated to your latest code):

2020-10-08 13:25:19 WARNING (MainThread) [homeassistant.loader] You are using a custom integration for ha_strava which has not been tested by Home Assistant. This component might cause stability problems, be sure to disable it if you experience issues with Home Assistant.
2020-10-08 13:25:22 DEBUG (MainThread) [

[2020-11-06 21:22] FraBoCH commented on #25
Hi @yuripace,

That's interesting. It seems you have packet "\x07E\x06\x08\x19<" where I have "\x07EF\x08\x19<". So it looks like you get a "\x06" where I get a "F", but this should be tested with other sensors to be sure. You should also check that you don't receive these packet when not triggered.

What I suggests is to change to "GF" and "EF" to "G\x06" and "E\x06" respectively in the following

[2020-11-28 18:40] driekeerruk commented on #18
@mattsaxon and @Eerk1975 did you figure this out? I am receiving exactly the same in my logs.

[2020-11-30 08:19] Eerk1975 commented on #18
nope still the same situation...

[2020-12-03 13:51] FransOv commented on #6
I made an MQTT bridge that can be connected directly to the Jablotron 80 bus, not using the JA-82T, which is essentially - I think - a USB to RS485 converter. The bridge I made consists of a Wemos D1 mini with the Tasmota software, a level converter and a TTL to RS485 converter. Total cost is about 10 euro and a bit of soldering. It can be powered by a 12v to 5V voltage converter directly from the

[2020-12-06 11:05] yuripace commented on #25
hi @FraBoCH
it works well!!!!

Many thanks!
ps: can i have your help to decipher protocol more? i want be able to get "low battery" sensors message and something more..can you help me? :)

[2020-12-09 16:26] blavak68 opened #26 "Support JA-83"
hi
i am new in homeassistant world ...

i have Jablotron Control Panel JA-83 + serial cable JA-80T
HA 0.18.5 on NAS Synology 220+ in Docker
serial port i see how:
- /dev/serial/by-id/usb-Silicon_Labs_JABLOTRON_serial_interface_1-if00-port0

after installation and startup in HA, control panel will end after a few seconds with GSM error, shortly before GSM error, the message "complete entry" appears

[2020-12-10 00:19] flaakesk8 opened #27 "Please help me with the configuration"
HI,  please help me.

I've a fresh installation of Homeassistant in a VM on my Synology. Connected to the syno I've Jablotron Alarms JA-82T PC Interface (when I'm using it with WindowsVM and Olinks Software it works like a charm). My Jablotron is an Oasis 80.

![Screenshot 2020-12-10 at 01 15 20](https://user-images.githubusercontent.com/25496035/101704550-4eadb380-3a85-11eb-8778-1b2261d40288.png)

[2020-12-10 00:35] flaakesk8 commented on #27
when I have the serial port at /dev/hidraw1 the host log Supervisor>System>host
dumps out a lot of this messages

![Screenshot 2020-12-10 at 01 34 36](https://user-images.githubusercontent.com/25496035/101705752-eca27d80-3a87-11eb-90d7-6931a644c484.png)

[2020-12-12 18:38] albasee opened #28 "Jablotron JA-60"
Hi mattsaxon
I have the Jablotron JA-60 System. This system can also be controlled over a seria bus. There is an existing software "ComLink". It would be veeery nice, if on could implement the JA-60 system in Home Assistant. Do you think, this should be possible? How can I help you to make this working?. Or what do I have to modify in the JA-80 implementation that this works with the JA-60 system?

[2020-12-14 09:58] flaakesk8 commented on #27
I guess I figured out the right port with config

`serial_port: /dev/hidraw1` but now the console freaks out with never ending
`[  430.438544] usb 2-1: input irq status -75 received
[  430.445483] usb 2-1: input irq status -75 received
[  430.453529] usb 2-1: input irq status -75 received
[  430.461443] usb 2-1: input irq status -75 received
[  430.469490] usb 2-1: input irq status -75 received
[

[2020-12-17 19:31] flaakesk8 commented on #27
@mattsaxon do you have an idea why keep getting this error messages?

[2020-12-17 19:46] mattsaxon commented on #27
Sorry, I've never seen any issues like that. If you have a RPi to try this on, I'd suggest trying with that to see if you can get it to work (even if it is slow), as by doing so, you'll rule out the rest of your setup.

I use a RPi 3b+ with no issues btw.

[2020-12-17 19:57] mattsaxon commented on #28
Sorry I don't know anything on JA-60 systems, but I'd expect it to be possible. Have you tried using the existing software as it?

It probably wont work, for example, I know the 80 series and 100 series have totally different controls, but the basic software needed is the same.

The approach I'd suggest it to scan the serial ports to see what messages are sent by the ComLink software and then amen

[2020-12-17 21:49] Thoky81 commented on #27
@flaakesk8 I had exactly the same problem when I was running HA on Proxmox before a year ago. When I switched to Synology no problem at all. Comparing my VM setting to your one you should switch the Virtual USB Controller to 2.0 instead of 3.0.

[2020-12-17 21:58] Thoky81 commented on #27
@flaakesk8 .. I am not 100% sure now, but I think you need to setup VM again in order to switch the controller to USB 2.0.

[2020-12-18 08:52] flaakesk8 commented on #27
thanks for the reply as last resort I'll try the Raspberry PI again :)

[2020-12-18 08:53] flaakesk8 commented on #27
thank you very much I'm trying the suggested settings right now - I could power down the VM and change the controller to USB 2.0. it this does not work I'll spin up a new one.

with the existing VM and selecting USB 2.0 the error messages still keep coming. will create a new VM.

[2020-12-21 15:26] flaakesk8 commented on #27
@Thoky81 I've tried as you suggested even created a new VM with USB 2.0 instead of USB 3.0 in between restarted my synology but the error messages
`...
[ 430.438544] usb 2-1: input irq status -75 received
...`

keep coming.

I'll now try again as @mattsaxon suggested and configure my RPi 3+ again with Home assistant althoug I have no success last time.

thank you both for your advices.

[2020-12-22 19:16] Flupke1979 commented on #6
@FransOv Could you share some more info on your Wemos MQTT Setup please? I'm very interested in this.

[2020-12-23 11:04] FransOv commented on #6
@Flupke1979
I built this because my Jablotron alarm system is downstairs and the server running Home Assistant is up in the attic. I did not want an extra cable between those two for the JA-82T. Furthermore I need the JA-82T at my desktop to run the OLink software. I found out that the Jablotron bus uses the RS485 protocol and decoded enough of the messages to be able to emulate a keypad.
With the

[2021-01-17 21:29] FraBoCH commented on #25
I've updated the code to support both my system and yours.

As far as detecting other events, I would also like it, but that's more easily said that done. I've tried a bit to detect the disconnection of a wireless siren, but no luck so far (see issue #21). I suggest to open separate issue for each event to detect for easier tracking. Then, you can help by providing debug logs corresponding to the

[2021-03-10 18:32] Marclinh0 opened #29 "Status of Sensors for Jablotron 80"
Hi all
I love this integration but also I'm a little jalous reagrding the people with the Jab100 integration, more specific on the statusof the Binary Sensors

I'm new to HA and have a Oasis 80 alarm
In May 2020 Matt wrote that sensor data is not available while the the alarm is in Unset mode.
The O-Link software has a menu where you can read the packets coming from the Control Panel (also in Unse

[2021-04-15 15:01] JohnnyM84 opened #30 "No 'version' key in the manifest"
Getting this error in Homeassistant, is it possible to add it so plugin is still working in the future?
No 'version' key in the manifest file for custom integration 'jablotron'. This will not be allowed in a future version of Home Assistant. Please report this to the maintainer of 'jablotron'

[2021-05-14 09:23] mazzy89 opened #31 "support for JA-80BT (bluetooth dongle)"
Currently I have the Bluetooth dongle. Do you think that it would be supported? At the moment the communication is handled via serial port but I'm not sure if the Home Asisstant OS drivers would find out the Bluetooth as a COM device.

[2021-06-13 11:58] VimalO commented on #29
I also have a 80-series panel and want to try this but if sensor data is not available it is less interesting.
Has anyone been able to get the sensor statuses for the  80-series?

[2021-06-18 14:13] booroondookZ opened #32 "Integration 'Jablotron80' not found"
My configuration:
[code]
configuration.yaml (fragment):
[code]
Folder
`custom_components/Jablotron80`
with files:
[code]
Problem: Check configuration reports:
**_Configuration invalid_**
and
**_Platform error alarm_control_panel.Jablotron80 - Integration 'Jablotron80' not found._**
I tried to rename "Jablotron80" to "jablotron" and "Jablotron" (including the folder name), but result always is the

[2021-06-21 20:55] FraBoCH commented on #30
I fixed it in PR #24. Please make sure you use "Jablotron80" as folder name in custom_components and as platform name for the version to be properly recognized by HA

[2021-06-21 20:55] FraBoCH commented on #32
I can confirm the "platform" attribute must match the folder name you put in folder `custom_components`.
As you are running HA 2021.06.*, please make sure you have a version number in the manifest. I've already added that in my PR #24 but it is not merged yet.
If you didn't do that already, try restarting HA before adding the configuration section in configuration.yaml and the restart once again.

[2021-06-21 21:11] FraBoCH commented on #29
I agree it would be very nice to have sensor exposed to HA with their status, especially in specific use cases like the one I mention in issue #21.
That's however much easier said that done, but maybe I'll take some time eventually to dive into that. In the meantime, feel free to tinker with the lot of logs when switching to debug and try to figure out the meaning of all those bytes.

[2021-06-22 08:27] ghost commented on #32
Yes. My folder is:
`.../custom_components/jablotron`
and it contains these files:
[code]
HA's configuration.yaml contains these strings:
[code]

Yes. My manifest.json:
[code]

I did HA restarting **before** confguration changes. But I cannot restart HA **after** changes because HA tells about invalid configuration and cannot be restarted (see attached screenshots, please).
![2021-06-22 11_20_58-Wi

[2021-06-22 18:56] FraBoCH commented on #32
Hi @booroondookZ I suggest you change to the following setup which works for me in HA 2021.6.6:
1. Rename the folder in custom_components to "Jablotron80"
2. In configuration.yaml use: `platform: Jablotron80`
3. Use this as your manifest.json content: https://github.com/FraBoCH/HASS-Jablotron80/blob/master/custom_components/Jablotron80/manifest.json

If it still fails, restart without any entry in

[2021-06-22 18:59] FraBoCH commented on #30
@mattsaxon as HA 2021.6 is out now and prevent custom components without version in the manifest to load, could you please check and merge my PR#24 ?

In the meantime for anyone having the issue, please use content of manifest in https://github.com/FraBoCH/HASS-Jablotron80/blob/master/custom_components/Jablotron80/manifest.json which works with HA 2021.6.

[2021-06-23 08:51] ghost commented on #32
Thank you very much! Your method is working to me. But there are some nuances.
After I made changes to the files and then clicked the "Check configuration" button, I again got the same errors that I wrote about earlier. The only difference was that in these errors "Jablotron80" was shown, instead of "jablotron".
And then I made the following steps:
1. I have commented out the corresponding lines i

[2021-06-23 13:13] FraBoCH commented on #32
OK great!

23 juin 2021 10:51:13 booroondookZU ***@***.***>:

1. > I have commented out the corresponding lines in configuration.yaml file.
2. > I clicked on the "Check configuration" button and made sure there were no errors.
3. > I clicked on the "Restart Home Assistant" button, and then (I have access to the server via Samba) reopened "configuration.yaml" file and removed the comments (at this

[2021-07-15 12:27] lambertvenema opened #33 "which alarm_code to use"
Hi Matt,

I want to give it a try.

I was wondering which code i should use as the    **code: !secret alarm_code**  ?
should this be the existing code I normally use to arm/disarm my system ?
Or should it be the aministrator code used for configuration of my system ?

Best regards, Lambert

[2021-07-15 19:56] FraBoCH commented on #33
Hi Lambert,

It's any valid existing code you use to normally arm/disarm the system. Personnaly, I've created a new code for this purpose.

Enjoy!

[2021-07-20 00:35] jpsfs commented on #6
@mattsaxon I would be interested in giving a hand testing this feature

[2021-07-20 08:43] FransOv commented on #6
It turned out that the Rs485 to TTL converted I used is not very stable. The two I had stopped working after a few months. I now use this one https://www.aliexpress.com/item/32776361974.html which is very stable. it requires some changes to the circuit, but the concept stays the same.

[2021-08-06 15:06] booroondookZ opened #34 "Integration not working"
I use OASIS (Jablotron-80) and JA-80T cable.
My conf is the following:
[code]
As a result I have in my Home Assistant one new object "alarm_control_panel.jablotron_alarm" which is always in "unavailable" state. And that is all. I tried to arm and disarm my Jablotron. I also created alarms by moving my hand near the sensors. The alarm worked and the siren sounded, but no events were recorded in the

[2021-08-19 14:26] lambertvenema opened #35 "Can i see the trigger a bit earlier ?"
I got the integration working ::)).
Well that means  i have the controle panel in Home assistant now.
And i can arm and disarm the system corectly.

When i arm the system and come home later ther is a waiting time before the alarm goes in a loud Sirene of 120db.
I hoped to see the trigger  before this waiting time is gone because i do not want that loud sirene to hear everytime i want to check  we

[2021-09-01 17:13] mattsaxon commented on #32
@FraBoCH thanks for fixing this and putting in the PR. I have now merged.

[2021-09-01 17:13] #32 closed

[2021-09-01 17:13] mattsaxon commented on #34
Fixed in latest code version

[2021-09-01 17:13] #34 closed

[2021-09-01 17:15] #33 closed

[2021-09-01 17:16] mattsaxon commented on #31
Sorry I don't know. As you observe the code works only when it is seen as a COM device. Some drivers support mapping of BT into COM, others do not.

[2021-09-01 17:17] mattsaxon commented on #30
Merged, thanks @FraBoCH

[2021-09-01 17:17] #30 closed

[2021-09-01 17:19] mattsaxon commented on #29
I took a long time trying to work this out and could only get relevant codes when my system was in maintenance mode, which was not a workable solution, I therefore shelved the feature. It may be possible with other JA80 control panels.

[2021-09-01 17:22] mattsaxon commented on #27
@flaakesk8 any further update on this issue, or can I close?

[2021-09-01 17:23] #22 closed

[2021-09-01 17:39] #25 closed

[2021-09-01 17:39] #23 closed

[2021-11-28 09:49] ktibor commented on #29
I found this information in the documentation:

Triggered detector indication by text on the keypad display
31x
 311 = YES
 310 = NO
YES (default)

allows the display of open windows & doors,  to view details press '?'

 I'm able to see the status of the sensors (also in unarmed state) with this settings, but sometimes the status remains unchanged till I don't press "?" or I put the system for a w

[2021-12-01 19:48] FraBoCH commented on #29
Thanks @ktibor for this information. I'm aware of this setting and I have it activated on my system. Yes, the data should be somewhere in the byte stream we get from the serial interface, but figuring out how it's encoded is yet another story....

[2022-01-02 19:22] markunca commented on #29
I am using it through wiring it directly and reading by Arduino. Not best, but only think I figer it out and not having duplicity sensors.

https://github.com/markunca/arduino-jablotron

[2022-01-30 11:30] phrachovina opened #36 "JA-80T functionality"
I have a JA-80T cable that doesn't work with this. However, I am able to perform beta testing and provide the necessary logs for debugging.

[2022-01-30 11:34] mattsaxon commented on #36
This repo is not unmaintained and I suggest you switch to using https://github.com/tahvane1/jablotron80

[2022-01-30 11:34] #36 closed

[2022-01-30 11:38] mattsaxon commented on #35
Please move the maintained repo at https://github.com/tahvane1/jablotron80. This is a much better integration.,

[2022-01-30 11:38] #35 closed

[2022-01-30 11:38] mattsaxon commented on #31
Please move to https://github.com/tahvane1/jablotron80, tis has wider support

[2022-01-30 11:38] #31 closed

[2022-01-30 11:38] mattsaxon commented on #29
Please move to https://github.com/tahvane1/jablotron80, this has sensor integration

[2022-01-30 11:38] #29 closed

[2022-01-30 11:39] mattsaxon commented on #28
This repo is no longer maintained. If you want to fork something similar, suggest you look at https://github.com/tahvane1/jablotron80

[2022-01-30 11:39] #28 closed

[2022-01-30 11:40] mattsaxon commented on #27
Closed as inactive

[2022-01-30 11:40] #27 closed

[2022-01-30 11:40] mattsaxon commented on #26
Please move to https://github.com/tahvane1/jablotron80 as this is no longer maintained

[2022-01-30 11:40] #26 closed

[2022-01-30 11:41] mattsaxon commented on #21
Please move to https://github.com/tahvane1/jablotron80 which supports sensors

[2022-01-30 11:41] #21 closed

[2022-01-30 11:42] mattsaxon commented on #19
Please move to https://github.com/tahvane1/jablotron80 as this integration is no longer maintained. That repo is more functional and fixes this issue

[2022-01-30 11:42] #19 closed

[2022-01-30 11:42] mattsaxon commented on #18
Please move to https://github.com/tahvane1/jablotron80 as this repo is no longer maintained

[2022-01-30 11:42] #18 closed

[2022-01-30 11:43] mattsaxon commented on #10
Please move to https://github.com/tahvane1/jablotron80 as this repo is no longer maintained

[2022-01-30 11:43] #10 closed

[2022-01-30 11:55] mattsaxon commented on #6
Closing as this repo is no longer maintained. https://github.com/tahvane1/jablotron80 is much better. However is doesn't support remote access. I'm considering, for another project, creating a ESP32 support for remote serial which might be a more generic approach than MQTT. Both should work however.

[2022-01-30 11:55] #6 closed